#b1 {
    color: blue;

}

#b2 {
    color: blue;
    
}

#b3 {
    color: blue;
}

#b4 {
    color: blue;
}

#b5 {
    color: blue;
}

#b6 {
    color: blue;
}
#b7 {
    color: blue;
}
#b8 {
    color: blue;
}
#b9 {
    color: blue;
}
#b10 {
    color: blue;
}
#b11 {
    color: blue;
}
#b12 {
    color: blue;
}
body{
color: powderblue;
}

h1 {
    color: blue;
}